<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="log-form">
        <h2>Login to your account</h2>
        <form name="f" th:method="post" th:action="@{/process_login}">
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="username" />
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="password" />
            <button type="submit" class="btn">Login</button>
            <div th:if="${param.error}" style="color: red">
                <a class="forgot" th:value="${param.error.toArray()}" href="#"></a>
            </div>
        </form>
    </div>
</body>
</html>