<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" >
</head>
<body>
<div class="log-form">
    <h2>Register new account</h2>
    <form th:method="POST" th:action="@{/registration}" th:object="${person}">
        <input type="text" th:field="*{login}" title="login" placeholder="Username" />
        <br />
        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Username Error</div>
        <input type="password" th:field="*{password}" title="password" placeholder="Password" />
        <br />
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <button type="submit" class="btn">Register</button>
    </form>
</div>
</body>
</html>